[submodule "sw/external/libopencm3"]
	path = sw/external/libopencm3
	url = https://github.com/libopencm3/libopencm3.git
[submodule "sw/external/arduino-lmic"]
	path = sw/external/arduino-lmic
	url = https://github.com/matthijskooijman/arduino-lmic.git
[submodule "sw/external/minmea"]
	path = sw/external/minmea
	url = https://github.com/kosma/minmea.git
